
.footer {
    border: 1px solid #ccc;
    background-color: #ebebeb;
    max-width: 600px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.footer__author {
    font-style: italic;
}