.section {
    border: 1px solid #ccc;
    background-color: #ebebeb;
    max-width: 600px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}

.section__subHeader {
    text-align: center;
    color: rgb(0, 148, 148);
    margin-top: 10px;
}

.section__paragraph{
    margin-left: 5px;
    line-height: 1.5;
}

.section--backgroundColor{
    text-align: center;
}
